<div class="col" id="yp-auth-btns-container">

            <label id="yp-ld-signin-lbl">Reset your <strong>Password</strong></label>

            <div class="row" style="background: #fff" id="yp-ld-login-input-cont">
                  <div class="col-1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="col">
                        <input class="form-control form-control-lg" type="text" placeholder="email" [(ngModel)]="email" required>
                  </div>
            </div>

            <!--SEND LOGIN BUTTON SECTION-->
            <div class="row">
                  <div class="col" id="yp-ld-send-login-btn-cont">
                        <button type="button" class="btn btn-lg btn-block" id="yp-ld-login-btn" (click)="reset()">
                              <span *ngIf="!busy">Reset</span>
                              <i class="fa fa-spinner" aria-hidden="true" *ngIf="busy"></i>
                        </button>
                  </div>
            </div>
</div>