
<div class="row" id="yenpie-landing-page">

      <div class="col-6" id="yp-pst-bg">

          <div class="row" id="yp-auth-container">

                  <router-outlet name="auth-outlet"></router-outlet>

          </div>

      </div>

  
</div>

<hr id="yp-ld-hr">

<div class="row" id="yp-ld-footer">
  
      <div class="col">
            <label>© Yen Pie 2017</label>
      </div>

      <div class="col-3" id="yp-ld-header-buttons-container">

            <button type="button" class="btn btn-sm">facebook</button>
            <button type="button" class="btn btn-sm">Youtube</button>
            <button type="button" class="btn btn-sm">Instagram</button>

      </div>

      <div class="col-3" id="yp-ld-header-buttons-container">

            <button type="button" class="btn btn-sm">Support</button>
            <button type="button" class="btn btn-sm">Terms</button>
            <button type="button" class="btn btn-sm">Contact</button>
            <button type="button" class="btn btn-sm">Manage</button>

      </div>

</div>
