#yp-hm-callv-cont {
    height: 100vh;
    background: #000;
    z-index: 0;
}



#yp-vid-0 {
    width: 100%;
    height: 100vh;
}


#yp-vid-1-cont {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    margin: 5%;
}




#yp-hm-callv-controls-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


#yp-hm-callv-controls-cont button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid thin #eee;
    color: #fa2955;
    background: transparent;
    font-size: 15px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}



#yp-hm-callv-controls-cont button:hover {
    cursor: pointer;
}




#yp-hm-cal-dur-cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 5% auto;
    text-align: center;
    color: #eee;
    font-size: 20px;
    font-weight: lighter;
}



#yp-vid-photo-thumnail-cont {
    height: 100px;
    width: 100px;
    border: solid medium #fff;
    border-radius: 100%;
    position: absolute;
    margin: 15% auto;
    z-index: 10;
    top: 0;
    overflow: hidden;
    left: 0;
    right: 0;
}



#yp-vid-photo-thumnail-cont img {
    width: 100%;
}