<div class="row" id="yp-profile-photo-cont">
    <div class="col-md">
        <div id="yp-profile-photo-parent">
            <div id="yp-profile-photo-child">
              <img [src]="$request.photo" alt="">
            </div>
        </div>

        <div id="yh-profile-name-cont">
            <div id="prof-cont">
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="col-md">{{ $request.nickname }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="col-md">{{ $request.age }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                    <div class="col-md">{{ $request.profession }}</div>
                </div>
            </div>
            <hr>
            <p *ngIf="personActive" id="yp-hm-online">
                <span>Active</span>
                <i class="fa fa-circle" aria-hidden="true" style="color: #2ecc71;"></i>
            </p>
            <p *ngIf="!personActive" id="yp-hm-online">
                <span>Active</span>
                <i class="fa fa-circle" aria-hidden="true" style="color: #fa2955;"></i>
            </p>
            <p *ngIf="connection">{{ connection }}</p>
        </div>
    </div>
</div>

<div class="row" id="yp-hm-cht-call-buttons-cont">
      <div class="col-md">
            <button type="button" class="btn btn-sm" id="yp-hm-cht-call-btn" (click)="call()" *ngIf="!calling">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </button>
            <!--C-C-B  -->
            <button type="button" class="btn btn-sm" id="yp-hm-cht-call-btn" (click)="cancel()" *ngIf="calling">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </button>
      </div>
</div>